@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
/* l dejo como comentario para poder mover a voluntad los iconos de twitter y github */

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
/**, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}
*/


/* El estilo base para moviles */
/* aqui se cambian las caracteristicas mas generales de todo el sitio*/
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}
/* aqui se selecciona la forma que se mostraran los elementos de la cabecera */
.header {
    display: flex;
    justify-content: space-around;
}
/* propiedades del logo */
.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}
/* formato de la descrcipcion de nextor*/
p{
    font-size: 0.75em;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    line-height: 25px;
}
/*letra del copyrights */
footer p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}
/* se define la anchura y el margen de los logos */
.logo {
   
    width: 110px;
    margin: 1em;
}

.options {
    color: red;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
    
}

/* Big area */
.big-hero img {
    width: 150px;
}

/* cambiar color al contacto cuando se le ponga el mouse encima*/
#menu li:last-child a:hover{
    color:red;
}


.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}
/* caracteristicas de la descripcion de nextor */
.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}
/* quitarle el margen al parrafo de descripcion de nextor */
.container p{
    margin-bottom: 0px;
}
/* Social links*/
/* aqui le quite margen al social links de arriba para que quede pegado al texto de nextor*/
.social-links {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin-top: 0px;
}

/* para cambiar el tamano de los iconos de git y twitter*/
.social-links li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    margin : 0.3em;
}
/* aqui se le aplica el color de fondo a la seccion de publicaciones */
.green-area {
    background-color: #0AC693; 
}


.post {
    padding: 1em;
    margin-bottom: -2px;
    
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 240px;
    margin: 2rem auto;
}
/* cambiar la alineacionn del texto de los articulos */
.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 2em;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    
    margin-top: 2em;
    height: 700px;
    width: 100%;
    
}
/* para que el grid solo aplique al contenedor dentro de about */ 
.about .container{
    display: grid;
    grid-template-rows: 10% 80%;
    width:100%;
    height: 550px;
}
/* para el titulo */
.about  .container h2 {
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end:2;
}
/* para el parrafo */
.bio-info{
    grid-row-start: 2;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 450px;
    height: 500px;
    
   
}
/* para el logo */
 .bio-info img{
   grid-column-start: 1;
   grid-row-start: 1;
   width: 200px;
   margin-left: 100px;
   margin-bottom: 50px;
   
}
/* se especifica en que columna y que fila mostrarse */
.bio-info p{
    
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 16px;
    padding: 1em;
    line-height: 25px;
    letter-spacing: 2px; 
    
    
}

/* config de la seccion contact*/
.contact {
    grid-row-start: 2;
    grid-column-start: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
    width: 500px;
    
    
}
/*espacio entre los elementos para llenar el formulario */
.contact * + * {
    margin-top: 1.5em;
    
}

/*diseno del contenedor de contacto */
.contact-form {
    display: flex;
    flex-direction: column;
    height: 500px;
}
/*estilo y tamano de los espacios para esccribir */
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 480px;
}
/*el tamano de la flechita y separarlo de la seccion de abajo */
.hide-mobile i{
    font-size: 50px;
    margin-bottom: 100px;
}
/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

/* aqui le cambie tamano al bloque de contactar */
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    width: 300px;
    
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
   
    background-color: #0D5061;
    color:#D7DEE6;
    
}

footer .social-links li {
   
    margin-top: 20px;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
    
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
    
    
}

.menu li a {
    color:white;
    text-decoration: none;
    
}




/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 668px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop  {
        display: block;
        color:#0AC693;
       
    }
    
    
    .hide-desktop {
        display: none;
    
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    
    }

    /*TODO: FALTA CSS */
} 


@media only screen and (min-width: 1024px) {

       /*TODO: FALTA CSS */



}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
        
    }
}
/* para que se ajuste cuando la pantalla sea como la de un iphone 6,7,8 */
@media only screen and (max-width: 750px ){
    .about{
        height: 1100px;
    }
   .about .container  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about .container h2{
        width: 370px;
    }
    .about .container p{
        justify-content: center;
        
    }
    .about .container .bio-info {
        margin-bottom: 100px;
        
    }
    .about .container .contact-form{
        width: 370px;
        height: 450px;
    }
    footer{
        height: 200px;
    }
    footer .social-links li{
            margin-top:20px;
    }
    footer .social-links {
        height: 80px;
        margin-top:50px;
        
}
.contact-form input[type=submit]{
    
    width:370px;
}
    .options{
        color:white;
    }
    
    .contact-form input, .contact-form textarea{
        
        width: 300px;
    }
   .bio-info img{
       margin-bottom: 0px;
   }
}